<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "krista-mangulsone.jpg"  %>');">
  <div class="container">
    <h1>Want to help a Pet?</h1>
    <p>Find your new best friend and adopt a pet today</p>
    <button type="button" class="btn btn-outline-light btn-lg download-button"><i class="fas fa-search"></i> Search</button>
  </div>
</div>

<!-- Features -->

<section class="white-section" id="features">
  <div class="row">
    <div class="feature-box col-lg-4">
      <i class="icon fas fa-check-circle fa-4x"></i>
      <h3 class="feature-title">Have a Pet ?</h3>
      <p>Register and List a Pet for Adoption.</p>
    </div>

    <div class="feature-box col-lg-4">
      <i class="icon fas fa-bullseye fa-4x"></i>
      <h3 class="feature-title">Looking for a new Pet ?</h3>
      <p>Login and Search for your favorite new pet.</p>
    </div>

    <div class="feature-box col-lg-4">
      <i class="icon fas fa-heart fa-4x"></i>
      <h3 class="feature-title">Book a Visit.</h3>
      <p>Go visit your new Pet.</p>
    </div>
  </div>
</section>
